## Exercise 1A & B

In [1]:
for i in range(-10, 10):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [3]:

for i in range(-10, 11, 2):
    print(i, end=" ")

-10 -8 -6 -4 -2 0 2 4 6 8 10

## Exercise 2A & B

In [73]:
my_sum = 0 

for i in range(101): #101 för man börjar från 0
    my_sum += i

print(f"0+1+2+....+100 = {my_sum}")

0+1+2+....+100 = 5050

In [4]:
my_sum = 0

for i in range(1, 101, 2):
    my_sum += i

    print(f"1+3+5+....+99 = {my_sum}")

1+3+5+....+99 = 1
1+3+5+....+99 = 4
1+3+5+....+99 = 9
1+3+5+....+99 = 16
1+3+5+....+99 = 25
1+3+5+....+99 = 36
1+3+5+....+99 = 49
1+3+5+....+99 = 64
1+3+5+....+99 = 81
1+3+5+....+99 = 100
1+3+5+....+99 = 121
1+3+5+....+99 = 144
1+3+5+....+99 = 169
1+3+5+....+99 = 196
1+3+5+....+99 = 225
1+3+5+....+99 = 256
1+3+5+....+99 = 289
1+3+5+....+99 = 324
1+3+5+....+99 = 361
1+3+5+....+99 = 400
1+3+5+....+99 = 441
1+3+5+....+99 = 484
1+3+5+....+99 = 529
1+3+5+....+99 = 576
1+3+5+....+99 = 625
1+3+5+....+99 = 676
1+3+5+....+99 = 729
1+3+5+....+99 = 784
1+3+5+....+99 = 841
1+3+5+....+99 = 900
1+3+5+....+99 = 961
1+3+5+....+99 = 1024
1+3+5+....+99 = 1089
1+3+5+....+99 = 1156
1+3+5+....+99 = 1225
1+3+5+....+99 = 1296
1+3+5+....+99 = 1369
1+3+5+....+99 = 1444
1+3+5+....+99 = 1521
1+3+5+....+99 = 1600
1+3+5+....+99 = 1681
1+3+5+....+99 = 1764
1+3+5+....+99 = 1849
1+3+5+....+99 = 1936
1+3+5+....+99 = 2025
1+3+5+....+99 = 2116
1+3+5+....+99 = 2209
1+3+5+....+99 = 2304
1+3+5+....+99 = 2401
1+3+5+....+99 = 2500

## Exercise 3A, B & C

In [72]:
for i in range(11):
    i = i*6
    print(f"{i}",end=" ")

0 6 12 18 24 30 36 42 48 54 60

In [86]:
user = int (input("Which table are you interested in?"))
user1 = int (input("Specify start of table"))
user2 = int (input("Specify end of table"))

for user in range(user1, user2+1):
    product = user * user1
    print (f"{user} x {user1} = {product}")

8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

In [117]:


for row in range (11):
    for col in range (11):
        product = row * col
        print(f"{product}",end=" ")
    print() # new line (hamnar på ny rad)

0 0 0 0 0 0 0 0 0 0 0
0 1 2 3 4 5 6 7 8 9 10
0 2 4 6 8 10 12 14 16 18 20
0 3 6 9 12 15 18 21 24 27 30
0 4 8 12 16 20 24 28 32 36 40
0 5 10 15 20 25 30 35 40 45 50
0 6 12 18 24 30 36 42 48 54 60
0 7 14 21 28 35 42 49 56 63 70
0 8 16 24 32 40 48 56 64 72 80
0 9 18 27 36 45 54 63 72 81 90
0 10 20 30 40 50 60 70 80 90 100

## Exercise 4

In [7]:
user = int (input("Skriv ett nummer"))
my_sum = 1

for i in range(1, user+1):
    my_sum = my_sum * i

print(f"{my_sum}")

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

## Exercise 5

In [ ]:
number = rnd.randint(1000,9999)
guess = float(input("guess a number between 1000, 9999"))

# När du gissar säger koden hur långt ifrån du är rätt svar
# som såklart gör att du gissar rätt på andra försöket i stort sett

for i in range (number):
    if guess < number:
        help = guess - number
        print(f"Your guess is too high, you're {help:.0f} from the right number")
        guess = float(input("guess a number"))
    elif guess > number:
        help = guess - number
        print(f"Your guess is too high, you're {help:.0f} from the right number")
        guess = float(input("guess a number"))
    else:
        break
    
print("du har gissat rätt")
print(number)

# Kanske kollar igen en gång till sen

## Exercise 6

In [9]:
my_sum = 0
rice = 1

for i in range(64):
    my_sum += rice
    print(f"{my_sum}")
    rice *= 2
# Svar: 18446744073709551615 riskorn på sista fyrkanten

1
3
7
15
31
63
127
255
511
1023
2047
4095
8191
16383
32767
65535
131071
262143
524287
1048575
2097151
4194303
8388607
16777215
33554431
67108863
134217727
268435455
536870911
1073741823
2147483647
4294967295
8589934591
17179869183
34359738367
68719476735
137438953471
274877906943
549755813887
1099511627775
2199023255551
4398046511103
8796093022207
17592186044415
35184372088831
70368744177663
140737488355327
281474976710655
562949953421311
1125899906842623
2251799813685247
4503599627370495
9007199254740991
18014398509481983
36028797018963967
72057594037927935
144115188075855871
288230376151711743
576460752303423487
1152921504606846975
2305843009213693951
4611686018427387903
9223372036854775807
18446744073709551615